.history
.DS_Store
.venv
venv/
.idea
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.env
*.bak
.vscode
.codegpt
.mypy_cache
.pytest_cache
.coverage
.coverage.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
data/raw/*
data/processed/*
data/new_data/*
data/predictions/*
*.ipynb
*.sh
get-pip.py
*.drawio
*.bkp
.coverage
requirements-2.txt
.dvc
mlruns
*.csv.dvc
*.log
logs/
models/*
.github/workflows/codeql-analysis.yml
