# Core Libraries
pyspark        # Core PySpark library
numpy          # For numerical computations
pandas         # Data manipulation
scikit-learn   # For ML tools
joblib         # For saving and loading scalers
matplotlib     # For data visualization
seaborn        # Advanced visualization library
plotly         # Interactive plots

# MLOps and Experiment Tracking
mlflow[sqlalchemy,postgres]    # Experiment tracking with SQL and Postgres
dvc[s3]                        # Data version control
boto3                          # AWS SDK for S3/MinIO

# Metadata Management
openmetadata-ingestion==1.4.8.1         # Metadata management
PyYAML==6.0.2                           # For reading YAML files

# Testing and Code Quality
pytest                         # For testing
pytest-cov                     # For test coverage
pytest-xdist                   # For parallel testing
flake8                         # Code linting
autopep8                       # Auto-formatting
autoflake                      # Remove unused imports
isort                          # Sort imports
black                          # Code formatting

# Workflow Management
apache-airflow==2.10.4
apache-airflow[crypto,postgres]  # Airflow with Postgres and crypto extras
apache-airflow-providers-docker  # Docker provider for Airflow
apache-airflow-providers-http    # HTTP provider for Airflow
apache-airflow-providers-amazon  # Amazon (AWS) provider for Airflow
